<div class="container">
  <div class="device-frame">
    <div class="users-new">新規ユーザー登録</div>

      <div class="device-inner">
        <div class="users-form">
          <div class="form-body">

            <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                <%= message %>
                </div>
            <% end %>

            <%= form_tag("/users/create") do %>
              <div class="mandatory">
                <input name="name" value="<%= @user.name %>" placeholder="ユーザー名" class="user-name">
              </div>
              <div class="mandatory">
                <input name="email" value="<%= @user.email %>" placeholder="メールアドレス" class="user-address">
              </div>
              <div class="mandatory">
                <input type="password" name="password" value="<%= @user.password %>" placeholder="パスワード" class="user-password">
              </div>
                <input type="submit" value="新しいアカウントを作成" class="new-user-create">
            <% end %>
            <%= link_to("すでにアカウントをお持ちの方はログイン", "/login") %>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>