<div class="container-field room-posts">
  <div class="registration-room-list-title">予約済みルーム一覧</div>
      <table>
        <thead>
          <tr align="center">
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計料金</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>予約確定日時</th>
          </tr>
        </thead>
        <tbody>

          <% @reservations. each do |reservation| %>
            <tr>
              <td>
                <% if reservation.room.image.attached? %>
                   <%= image_tag reservation.room.image, class: "room-posts-image" %>
                <% end %>
              </td>
              <td class="room-posts-name"><%= reservation.room.name %></td>
              <td class="room-posts-introduction"><%= reservation.room.introduction %></td>
              <td class="room-posts-fee"><%= reservation.room.fee * ((reservation.end_date.to_date - reservation.start_date.to_date).to_i) %>円</td>
              <td class="room-posts-reservation-start"><%= reservation.start_date.to_date %></td>
              <td class="room-posts-reservation-finish"><%= reservation.end_date.to_date %></td>
              <td class="room-posts-reservation_confirm"><%= reservation.created_at.to_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

